
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


html, body{
    width: 100%;
    height: 100%;
}

header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: rgb(128, 128, 128);
}

h1{
    width: 20%;
    text-align: center;
}

main{
    display: flex;
    width: 100%;
    height: 90%;
}

.secMenu{
    /* background-color: rgba(0, 128, 0, 0.174); */
    background-color: rgba(128, 128, 128, 0.493);
    width: 15%;
}

.secTable{
    width: 85%;
}

table{
    display: block;
    overflow: auto;
    height: 100%;
    width: 100%;
}

tbody{
    width: 100%;
    display: block;
}

table tbody tr:nth-child( odd ){
    background-color: rgba(128, 128, 128, 0.493);
}

table tbody tr:nth-child( even ){
    background-color: gainsboro;
}

table tbody tr td{
    width: 100vw;
}

.contenedorPrincipal{
    position: relative;
    display:  flex;
    height: 12em;
}

.divContenedorFotoYBtn{
    position: relative;
    width: 16%;
    /* height: 100%; */
}

.contenedorFoto{
    width: 100%;
    height: 100%;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666;
    font-weight: bold;
}

.contenedorFoto img{
    width: 100%;
    height: 100%;
}

.contenedorIconos{
    display: flex;
    flex-direction: column;
    background-color: #4CAF50;
    align-items: center;
    justify-content: space-around;
}

.btnAnterior{
    position: absolute;
    top: 50%;
    left: 0.5%;
    height: 2em;
    width: 2em;
    border-radius: 100%;
    background-color: #00000090;
    color: wheat;
    border: none;
    cursor: pointer;
}

.btnSiguiente{
    position: absolute;
    top: 50%;
    right: 0.5%;
    height: 2em;
    width: 2em;
    border-radius: 100%;
    background-color: #00000090;
    color: wheat;
    border: none;
    cursor: pointer;
}

.contenedorIconos .iconos{
    width: 2em;
    height: 2em;
    cursor: pointer;
}

.contenedorDetalle{
    width: 83%;
}

.contenedorP{
    display: flex;
    width: 100%;
    height: 20%;
}

.contenedorP p{
    width: 15%;
    margin: 0 0 0 2%;
    border-left: solid rgba(0, 0, 0, 0.465); 
}

.contenedorP .pLegajo{
    background-color: rgb(0, 0, 255);
    color: aliceblue;
}

.contenedorDiv{
    display: flex;
    width: 100%;
    height: 80%;
}

.divGeneral{
    width: 33%;
    margin:  0 0 0 2%;
    border-left: solid rgba(0, 0, 0, 0.465); 
}

.divGeneral p{
    margin: 0 0 0 2%;
}

.ocultar{
    display: none;
    pointer-events: none;
}


/* ----------------------------------------------------- */
/*                  FORMULARIO                       */
/* ----------------------------------------------------- */

.secFormulario{
    position: absolute;
    width: 80%;
    left: 10%;
    top: 15%;
    background-color: gray;
    border-radius: 8px;
}

h2 {
    text-align: center;
}

form {
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Cuatro columnas */
    grid-gap: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
    color: #666;
}

form input, select{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

form button {
    grid-column: span 4; /* Ocupa las cuatro columnas */
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #2a7b2e;
}

/* ----------------------------------------------------- */
/*                 MODAL FORM                        */
/* ----------------------------------------------------- */
.encabezadoModal{
    display: flex;
}

.encabezadoModal h2{
    width: 95%;
}

.encabezadoModal p{
    width: 5%;
    background-color: rgb(247, 58, 58);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: 1s;
}

.encabezadoModal p:hover{
    background-color: green;
    transition: 1s;
}

.off{
    display: none;
    pointer-events: none;
}

.on{
    display: auto;
}

.bloqueo{
    pointer-events: none;
    background-color: grey;
    opacity: 0.5;
    transition: 2s;
}

/* ----------------------------------------------------- */
/*                 MODAL FOTO                         */
/* ----------------------------------------------------- */


.seccionModalFoto{
    position: absolute;
    width: 55%;
    height: 80%;
    left: 20%;
    border: solid;
}

.contenedorModalFotoPrincipal{
    width: 100%;
    height: 100%;
    border: solid;
    background-color: #4CAF50;
}

.encabezadoModalFoto p{
    width: 5%;
    background-color: rgb(247, 58, 58);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: 1s;
    position: absolute;
}

.encabezadoModalFoto :hover{
    background-color: green;
    transition: 1s;
}

.contenedorModalFoto{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    background-color: #666
}

.fotoModal{
    width: 100%;
    height: 100%;
}

.agregarFotoVacio{
    padding: 1em;
    border-radius: 10px;
}

.btnAntModal{
    position: absolute;
    top: 50%;
    left: 1%;
    height: 2em;
    width: 2em;
    border-radius: 100%;
    background-color: #00000090;
    color: wheat;
    border: none;
    cursor: pointer;
}

.btnSigModal{
    position: absolute;
    top: 50%;
    right: 1%;
    height: 2em;
    width: 2em;
    border-radius: 100%;
    background-color: #00000090;
    color: wheat;
    border: none;
    cursor: pointer;
}
